In [2]:
# IMPORTAÇÃO DE BIBLIOTECAS
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# CRIAÇÃO DE UM DATAFRAME COM CSV

df = pd.read_csv("../data/globalterrorism.csv", encoding='latin1')

C:\Users\dell\AppData\Local\Temp\ipykernel_6852\3179146306.py:3: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/globalterrorism.csv", encoding='latin1')

In [4]:
# VAMOS VER AS PRIMEIRAS 5 LINHAS DO DATAFRAME

df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [5]:
# AGRUPAR O NÚMERO DE ATAQUES POR ANO E FAZER UMA NOVO CSV COM ESSAS INFORMAÇÕES, NESSE CASO APENAS 48 LINHAS 
df_decade = df[['iyear', 'eventid']]
attacks_per_year = df_decade.groupby('iyear').count().reset_index()
attacks_per_year.columns = ['Year', 'Number of Attacks']
attacks_per_year.to_csv("../data/attacks_per_year.csv", index=False)

In [6]:
# AGRUPAR O NÚMERO DE ATAQUES POR REGIÃO E FAZER UMA NOVO CSV COM ESSAS INFORMAÇÕES, NESSE CASO APENAS 13 LINHAS
df_region = df[['region_txt', 'eventid']]  
attacks_per_region = df_region.groupby('region_txt').count().reset_index()
attacks_per_region.columns = ['Region', 'Number of Attacks']
attacks_per_region.to_csv("../data/attacks_per_region.csv", index=False)

In [7]:
# CRIAR DOIS CSVS, UM PARA ATAQUES POR REGIÃO NA DECADA DE 1970 E OUTRO PARA A DE 2010
df_1970s = df[(df['iyear'] >= 1970) & (df['iyear'] < 1980)]
df_2010s = df[(df['iyear'] >= 2010) & (df['iyear'] < 2020)]
attacks_1970s = df_1970s[['region_txt', 'eventid']].groupby('region_txt').count().reset_index()
attacks_1970s.columns = ['Region', 'Number of Attacks']
attacks_1970s.to_csv("../data/attacks_per_region_1970s.csv", index=False)
attacks_2010s = df_2010s[['region_txt', 'eventid']].groupby('region_txt').count().reset_index()
attacks_2010s.columns = ['Region', 'Number of Attacks']
attacks_2010s.to_csv("../data/attacks_per_region_2010s.csv", index=False)

In [8]:
# CRIAR DOIS CSVS, UM PARA TIPOS DE ATAQUES MAIS FREQUENTES E OUTRO COM OS PRINCIPAIS ALVOS DOS ATAQUES
top_attack_types = df['attacktype1_txt'].value_counts().reset_index()
top_attack_types.columns = ['Attack Type', 'Number of Attacks']
top_attack_types.to_csv("../data/top_attack_types.csv", index=False)
top_target_types = df['targtype1_txt'].value_counts().reset_index()
top_target_types.columns = ['Target Type', 'Number of Attacks']
top_target_types.to_csv("../data/top_target_types.csv", index=False)